@media (max-width: 1199px) and (min-width: 991px){
	.try_rc_slider_inner_wrapper .owl-theme .owl-nav .owl-prev{
		left:-20px;
	}
	.try_rc_slider_inner_wrapper .owl-theme .owl-nav .owl-next{
		right:-20px
	}
}
@media (max-width: 1199px){
	.try_slider_img_header_Wrapper img, .try_mob_slider_img_Wrapper img, .try_slider_earp_img_Wrapper img, .try_slider_watch_img_Wrapper img, .try_cam_slider_img_Wrapper img{
		width:100%;
	}
	.try_slider_img_header_Wrapper{
		top:160px;
	}
	.slider-area .carousel-inner .item .carousel-captions .content{
		top:180px;
	}
	.try_slider_img_Wrapper{
		top:150px;
	}
	.try_sh_img_wrapper{
		width:230px;
	}
	.try_sh_img_cont_wrapper{
		width: calc(100% - 230px);
		padding-right: 10px;
	}
	.try_slider_mac_img_Wrapper{
		top:225px;
	}
	.try_cam_slider_img_Wrapper{
		top:190px;
	}
}
@media (max-width: 1600px){
	.try_top_side_img {
		right: -430px;
	}
}
@media(min-width: 768px) and (max-width: 992px){
	.main-menu .navigation > li > a{
		font-size:12px;
	}
}
@media (max-width: 991px){
	.try_top_side_img{
		display:none;
	}
	.slider-area .carousel-inner .item .carousel-captions .content{
		top:60px;
	}
	.try_slider_img_header_Wrapper {
		top: 95px;
	}
	.carousel-indicators{
		bottom:0;
	}
	.main-menu .navigation > li{
		margin: 0px 0px 0px 13px;
	}
	.try_mob_slider_img_Wrapper{
		position:relative;
		top: 140px;
	}
	.try_banner_slider_inner_wrapper .carousel-inner .item .carousel-captions .content{
		top:125px;
	}
	.try_rc_slider_inner_wrapper .owl-theme .owl-nav{
		top:-55px;
	}
	.try_rc_slider_inner_wrapper .owl-theme .owl-nav .owl-next{
		right:auto !important;
	}
	.try_rc_slider_inner_wrapper .owl-theme .owl-nav .owl-prev{
		left:auto !important;
		margin-left: -70px;
	}
	.try_banner_erp_slider_inner_wrapper .carousel-inner .item .carousel-captions .content{
		top:0;
	}
	.try_slider_earp_img_Wrapper{
		position:relative;
		top:0;
	}
	.try_banner_erp_slider_wrapper{
		padding-top:60px;
		padding-bottom:60px;
	}
	.try_slider_banner_erp_cont h2,.try_slider_banner_erp_cont p{
		font-size:26px;
	}
	.try_banner_erp_slider_inner_wrapper .carousel-inner .item .caption-1,.try_banner_erp_slider_inner_wrapper .carousel-inner .item .caption-2,.try_banner_erp_slider_inner_wrapper .carousel-inner .item .caption-3{
		min-height:0;
	}
	.try_banner_watch_slider_inner_wrapper .carousel-inner .item .carousel-captions .content{
		top:0;
	}
	.try_slider_watch_img_Wrapper,.try_slider_mac_img_Wrapper{
		position:relative;
		top:0;
		left: 5px;
	}
	.try_banner_watch_slider_wrapper{
		padding-top:60px;
		padding-bottom:60px;
	}
	.try_slider_watch_img_Wrapper{
		margin-top:30px;
	}
	.try_slider_banner_watch_cont h2,.try_slider_banner_watch_cont p,.try_slider_banner_bank_cont h2,.try_slider_banner_bank_cont p,.try_slider_banner_cam_cont h2,.try_slider_banner_cam_cont p{
		font-size:26px;
	}
	.try_banner_mac_slider_inner_wrapper .carousel-inner .item .carousel-captions .content{
		top:0;
		padding-top:40px;
	}
	.try_banner_mac_slider_wrapper,.try_banner_bank_slider_wrapper,.try_banner_cam_slider_wrapper{
		padding-top:60px;
		padding-bottom:60px;
	}
	.try_slider_mac_img_Wrapper img{
		width:100%;
	}
	.try_banner_mac_slider_inner_wrapper .carousel-inner .item .caption-1,.try_banner_mac_slider_inner_wrapper .carousel-inner .item .caption-2,.try_banner_mac_slider_inner_wrapper .carousel-inner .item .caption-3,.try_banner_watch_slider_inner_wrapper .carousel-inner .item .caption-1,.try_banner_watch_slider_inner_wrapper .carousel-inner .item .caption-2,.try_banner_watch_slider_inner_wrapper .carousel-inner .item .caption-3,.try_banner_bank_slider_inner_wrapper .carousel-inner .item .caption-1,.try_banner_bank_slider_inner_wrapper .carousel-inner .item .caption-2,.try_banner_bank_slider_inner_wrapper .carousel-inner .item .caption-3,.try_banner_cam_slider_inner_wrapper .carousel-inner .item .caption-1,.try_banner_cam_slider_inner_wrapper .carousel-inner .item .caption-2,.try_banner_cam_slider_inner_wrapper .carousel-inner .item .caption-3{
		min-height:0;
	}
	.try_banner_bank_slider_inner_wrapper .carousel-inner .item .carousel-captions .content{
		top:0;
	}
	.try_bank_slider_img_Wrapper{
		position:relative;
		top:0;
		left: 5px;
	}
	.try_bank_slider_img_Wrapper{
		margin-top:40px;
	}
	.try_cam_slider_img_Wrapper{
		position:relative;
		top:0;
		left: 5px;
	}
	.try_banner_cam_slider_inner_wrapper .carousel-inner .item .carousel-captions .content{
		top:0;
		padding-top:40px;
	}
	.try_shippy_main_wrapper{
		padding-top:60px;
		padding-bottom:60px;
	}
	.try_shippy_main_box_wrapper2{
		margin-top:30px;
	}
	.try_footer_second_sec_wrapper, .try_footer_third_sec_wrapper{
		margin-top:60px;
	}
	.try_footer_main_section_wrapper{
		padding-top:80px;
	}
	.try_top_login_wrapper li:last-child a:hover{
		background:#111111;
		color:#ffffff;
		border:1px solid #111111;
	}
	.try_top_login_wrapper li:first-child a{
		color:#111111;
	}
}
@media (min-width: 767px){
	.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a{
	color:rgba(83,98,215,1);
	opacity:1;
}
.main-menu .navigation > li > a:after{
	content:'';
	width:2px;
	height:20px;
	background:rgba(83,98,215,1);
	position:absolute;
	left:0;
	right:0;
	margin:0px auto;
	bottom:-20px;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.main-menu .navigation > li:hover > a:after,
.main-menu .navigation > li.current > a:after,
.main-menu .navigation > li.current-menu-item > a:after{
	content:'';
	width:2px;
	height:20px;
	background:rgba(83,98,215,1);
	position:absolute;
	left:0;
	right:0;
	margin:0px auto;
	bottom:15px;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.try_logo_wrapper{
	margin-top:30px;
}
}
@media (max-width: 767px){
	.main-menu .navigation > li:hover > a,
	.main-menu .navigation > li.current > a,
	.main-menu .navigation > li.current-menu-item > a{
		background:#ffffff;
		color:rgba(83,98,215,1);
		opacity:1;
	}
	.main-header .nav-outer{
		width:100%;
		z-index:12;
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		overflow:auto;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		max-height:300px;
		overflow:auto;
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 0px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;	
		    margin-top: 30px;
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		padding:10px 0px 15px;
		right:0px;
		z-index:12;
		margin-top:-60px;	
	}
	.try_slider_img_Wrapper {
    -webkit-animation: movebounce 0s linear infinite;
    animation: movebounce 0s linear infinite;
}
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background: rgba(91,44,208,1);
    background: -moz-linear-gradient(-45deg, rgba(91,44,208,1) 0%, rgba(83,98,215,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(91,44,208,1)), color-stop(100%, rgba(83,98,215,1)));
    background: -webkit-linear-gradient(-45deg, rgba(91,44,208,1) 0%, rgba(83,98,215,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(91,44,208,1) 0%, rgba(83,98,215,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(91,44,208,1) 0%, rgba(83,98,215,1) 100%);
    background: linear-gradient(135deg, rgba(91,44,208,1) 0%, rgba(83,98,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2cd0', endColorstr='#5362d7', GradientType=1 );
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		border-radius:0px;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > a::before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#34344d;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	.lr_banner_content_inner_wrapper h3{
		font-size:26px;
	}	
	.try_slider_list li a{
		font-size:14px;
	}
	.try_slider_btn li:first-child a{
		width:140px;
		height:40px;
		line-height:40px;
	}
	.try_slider_btn li:last-child a{
		width:140px;
		height:40px;
		line-height:40px;
	}
	.main-header{
		padding-top:30px;
		padding-bottom:30px;
	}
	.navbar-toggle{
		top:15px;
	}
	.try_logo_wrapper{
		margin-top:0;
	}
	.try_mob_slider_img_Wrapper {
		position: relative;
		top:0;
		left:0;
    }
	.try_banner_slider_inner_wrapper .carousel-inner .item .carousel-captions .content{
		top:0;
		padding-top: 60px;
	}
	.try_banner_slider_wrapper{
		padding-top:60px;
		padding-bottom:60px;
	}
	.try_slider_banner_cont li{
		font-size:14px;
	}
	.try_led_img_wrapper img{
		width:100%;
	}
	.try_led_heading_wrapper h2{
		font-size:30px;
	}
	.try_led_heading_wrapper p{
		font-size:22px;
	}
	.try_slider_list {
		margin-top: 0px;
	}
}
@media (max-width: 580px){
	#clockdiv div > span, #clockdiv2 div > span, #clockdiv3 div > span{
		font-size:20px;
	}
	.smalltext{
		font-size:12px;
	}
	#clockdiv, #clockdiv2, #clockdiv3{
		width:310px;
	}
	.try_slider_btn{
		margin-top:0;
	}
	.slider-area .carousel-inner .item .carousel-captions .content li{
		margin-top:20px;
	}
	.try_slider_img_header_Wrapper {
		top: 120px;
	}
	.try_sh_img_wrapper{
		width:100%;
		    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
	 -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
	}
	.try_sh_img_cont_wrapper{
		width:100%;
	}
}
@media (max-width: 480px){
	
}
@media (max-width: 380px){
	#clockdiv, #clockdiv2, #clockdiv3{
		width:250px;
	}
	.try_top_login_wrapper li:last-child a{
		width:140px;
	}
	.slider-area .carousel-inner .item .carousel-captions .content li{
		margin-top:15px;
	}
}
@media (max-width: 330px){
	#clockdiv > div, #clockdiv2 > div, #clockdiv3 > div{
		margin-left: 3px;
		margin-right: 2px;
	}
}